<div
  class="header-div d-flex justify-content-between align-items-center mx-auto mt-4"
  style="width: 80%; max-width: 1100px"
>
  <div class="pt-2">
    <div class="d-flex align-items-center justify-content-center gap-2">
      <i class="fa-regular fa-comment quote-main-header"></i>
      <h1 class="font-weight-bold text-center quote-main-header">Mina citat</h1>
    </div>
    <p class="text-muted mb-4">Ord som inspirerar</p>
  </div>
  <button
    class="btn add-quote-btn"
    [disabled]="isMaxedReached()"
    [ngClass]="{ 'btn-outline-success': !isMaxedReached() }"
    routerLink="/quotes/new"
  >
    <i *ngIf="isMaxedReached(); else plusicon" class="fa-solid fa-house-circle-exclamation"></i>
    <ng-template #plusicon>
      <i class="fa-solid fa-plus"></i>
    </ng-template>
    {{ isMaxedReached() ? 'Max 5 citat' : 'Lägg till citat' }}
  </button>
</div>
<div class="quotes-grid">
  <div *ngIf="isEmpty(); else quotesList" class="text-center text-muted py-4">
    <p class="mb-0">Lägg till ditt första citat!</p>
  </div>

  <ng-template #quotesList>
    <article *ngFor="let quote of quotes" class="quote-card">
      <div class="quote-body">
        <p class="quote-text">{{ quote.text }}</p>
      </div>

      <footer class="quote-footer">
        <span class="quote-author">{{ quote.author }}</span>

        <div class="quote-actions">
          <button type="button" class="btn-edit">
            <i class="fa-solid fa-pen text-warning"></i>
          </button>
          <button type="button" class="btn-delete" aria-label="Delete">
            <i class="fa-solid fa-trash text-danger"></i>
          </button>
        </div>
      </footer>
    </article>
  </ng-template>
</div>
